.form-center {
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.avatar {
  max-height: 225px;
  max-width: 225px;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

#profileContainer {
  max-width: 75%;
}